.env.examplePORT=5000
MONGO_URI=mongodb+srv://dev_team:TUnSPukZitbLsK1z@cluster0.sganfzb.mongodb.net/Gift_Store?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here_change_in_production
NODE_ENV=development
EMAIL_SERVICE=gmail
EMAIL_USER=put you email
EMAIL_PASS=put your app password
EMAIL_FROM=Gift store