<div class="product-card">
  <div class="image-container">
    <img *ngIf="product?.image; else noImage" [src]="product.image" [alt]="product.name" />
    <ng-template #noImage>
      <div class="placeholder-icon">🎁</div>
    </ng-template>
  </div>
  <div class="card-body">
    <h3 class="product-name">{{ product?.name }}</h3>
    
    <div class="card-footer">
      <span class="product-price">EGP {{ product?.price }}</span>
      <button class="add-btn" (click)="onAddToCart()" aria-label="Add to cart">+</button>
    </div>
  </div>
</div>